<% include header %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login page</title>

<!-- stylesheets used -->
  <!-- Custom styles for this template -->
    <link rel="stylesheet" href="http://v4-alpha.getbootstrap.com/examples/starter-template/starter-template.css">
    <link href="https://fonts.googleapis.com/css?family=Tinos" rel="stylesheet">
    <!-- My CSS  -->
    <link rel="stylesheet" href="style.css">

  </head>
  <body>

  </head>
  <body>
    </head>
    <body>
  <!--    <div class="header">
          <h1><a href="/"> CourseRun</a></h1>
      </div> -->


    <script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function(e) {
      if (!e.target.matches('.dropbtn')) {
        var myDropdown = document.getElementById("myDropdown");
          if (myDropdown.classList.contains('show')) {
            myDropdown.classList.remove('show');
          }
      }
    }
    </script>

    <script language="javascript">
  function check(form)/*function to check userid & password*/
  {
 /*the following code checkes whether the entered userid and password are matching*/
 if(form.email.value == "email" && form.password.value == "password")
  {
    window.open('target.html')/*opens the target page while Id & password matches*/
  }
 else
 {
   alert("Error Password or Username")/*displays error message*/
  }
}
</script>
    </body>

      <h1>Login</h1>
      <span>or <a href="/register">register here</a></space>

      <form action="/login" method="post">
        <input type="username" placeholder="Enter your username" name="username">
        <input type="password" placeholder="Password" name="password">

        <div class="checkbox">
            <label>
            <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>

        <input type="submit">

      </form>

<% include bottom %>
