<% include header %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Registration page</title>

<!-- stylesheets used -->
  <!-- Custom styles for this template -->
    <link rel="stylesheet" href="http://v4-alpha.getbootstrap.com/examples/starter-template/starter-template.css">
    <link href="https://fonts.googleapis.com/css?family=Tinos" rel="stylesheet">
    <!-- My CSS  -->
    <link rel="stylesheet" href="searchcss.css">

  </head>
  <body>

  </head>
  <body>
    </head>
    <body>


  <form class="form-inline" action="/results" method="GET">
    <div align = "center" class = "checkboxes">
        <h2>GPA Range</h2>
        <div class="form-check">
            <input name = "three" class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1"> Greater Than 3.0 </label>
        </div>
        <div class="form-check">
            <input name = "two" class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1"> Greater Than 2.0 </label>
        </div>
        <div class="form-check">
            <input name = "one" class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1"> Greater Than 1.0 </label>
        </div>
        <div class="form-check">
            <input name = "zero" class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1"> Greater Than 0.0 </label>
        </div>
    </div>

    <div align = "center" class = "courseNumber">
        <h2>Course Number</h2>
          <div class="form-group mx-sm-3 mb-2">
            <input name="num" type="number" class="form-control" id="inputPassword2" placeholder="Course Number">
          </div>

    </div>

    <div align = "center" class = "college">
        <h2>College</h2>
        <div class="col-auto my-1">
      <select name="college" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>Choose...</option>
        <% var added = [] %>
        <% sections.forEach(function(section) { %>
            <% var temp = section.parent.split(" ") %>
              <%if(!added.includes(temp[0])){ %>
                <% added.push(temp[0]) %>
                <option value="<%= temp[0] %>"><%= temp[0]%></option>
              <% } %>
        <% }) %>
        <!-- <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option> -->
      </select>
    </div>
    </div>

    <!-- <div align = "center" class = "professor">
        <h2>Professor</h2>
        <div class="col-auto my-1">
      <select name="professor" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>Choose...</option>
        <% var added = [] %>
        <% sections.forEach(function(section) { %>
            <% section.professors.forEach(function(prof){ %>
              <%if(!added.includes(prof)){ %>
                <% added.push(prof) %>
                <option value="<%= prof %>"><%= prof%></option>
              <% } %>

            <% }) %>

        <% }) %>
      </select>
    </div>
    </div> -->
    <div>

    </div>
    <div  align = "center" class="col-auto my-1">
      <p>

      </p>
      <button type="submit" class="btn btn-primary mb-2">Search</button>
    </div>
  </form>



<% include bottom %>
