@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900i');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:200');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300');

.navbar {
    overflow: hidden;
    background-color: #333;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.navbar a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: orange;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}



body{
  margin:0px;
  padding: 0px;
  font-family: 'Work Sans', sans-serif;
    font-display: 300;
}

h1 {
  font-family: 'Tinos';
  font-weight: normal;
  margin: .67em 0;
  display: block;
  text-align: center;
}
h3 {
  font-family: 'Tinos';
  font-weight: normal;
  margin: 20px;
  display: block;
  text-align: center;
  float: center;
}

input[type="text"]{
  outline: none;
  padding: 10px;
  display: block;
  width: 300px;
  border-radius: 3px;
  border: 1px solid #eee;
  margin: 20px auto;
}

.navbar-brand {
    font-family: 'Playfair Display', serif;
}
